@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

/*Global*/
:root {
  --font-primary: 'Karla', sans-serif;
  --font-secondary: 'Markazi Text', serif;
  --primary-color-1: #495e57;
  --primary-color-2: #f4ce14;
  --secondary-color-1: #ee9972;
  --secondary-color-2: #FBDABB;
  --highlight-color-1: #EDEFEE;
  --highlight-color-2: #333;
}

body {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--font-secondary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

button {
  padding: 8px 20px; /* Espacement autour du texte */
  font-size: 16px;
  background-color:var(--primary-color-2);
  color: var(--highlight-color-2);
  border: none;
  border-radius: 24px;
  cursor: pointer;
  width: fit-content; /* La largeur du bouton s'ajuste automatiquement au texte */
  font-family: var(--font-primary);
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--highlight-color-1);
}

/*Header*/
.Header {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.NavContainer {
  display: grid;
  grid-template-columns: 50% 50%;
}

/*Logo*/
.Logo {
  height: 3.5rem;
}

/*Nav*/
.Navbar {
  display: flex;
}

.Navbar ul {
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
  align-items: center;
}

.Navbar ul li a {
  color: var(--highlight-color-2);
  font-weight: 400;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
}

.Navbar ul li a:hover {
  color: var(--primary-color-2);
}

/* Menu Hamburger */
.Hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/*Media queries pour mobile et tablette*/
@media (max-width: 1024px) {
  .Hamburger {
    display: block;
    color: var(--primary-color-1);
  }

  .Header {
    grid-template-columns: 0% 100% 0%;
    position: relative; /*Permet au hamburger de se fier à la hauteur du Header comme point de départ*/
  }

  .NavContainer {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem; /*Le logo décolle un peu du bord en mobile*/
  }

  .Navbar {
    position: absolute;
    top: 100%; /*Défile toujours en fonction de la hauteur du Header*/
    right: 0;
    background-color: white;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100; /* Assure que le menu passe au-dessus quand il défile */
  }

  .Navbar.open {
    max-height: 300px; /* Une valeur assez grande pour contenir tout le menu */
    padding: 1rem 0;
  }

  .Navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
    width: 100%;
  }

  .Navbar ul li {
    width: 100%;
    text-align: center;
  }

  .Navbar ul li a {
    display: block;
    padding: 10px;
    width: 100%;
  }
}

/*HeroSection*/
.HeroSection {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: var(--primary-color-1);
  color: var(--highlight-color-1);
  padding: 3rem 0;
}

.HeroContainer {
  display: grid;
  grid-template-columns: 50% 50%; /* Description + Image */
  gap: 2rem;
  align-items: center;
}

.HeroSection h1 {
  color: var(--primary-color-2);
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.HeroSection h2 {
  color: var(--highlight-color-1);
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.HeroSection button {
  margin-top: 4.5rem;
}

.HeroDescription {
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.HeroImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroImage {
  border-radius: 24px; /* Optionnel : pour un look plus arrondi */
  aspect-ratio: 1 / 1; /* Force un carré (hauteur = largeur) */
  object-fit: cover; /* Zoom et coupe pour remplir sans déformer */
  width: clamp(200px, 30vw, 425px); /* Min 200px, idéalement 40vw, max 425px */
  transform: translateY(+20%);
  position: absolute;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.HeroImage:hover {
  transform: translateY(+17%) rotate(2deg); /* La carte se soulève et tourne légèrement */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Media queries pour tablette */
@media (max-width: 1024px) {
  .HeroSection {
    grid-template-columns: 10% 80% 10%;
  }
}

/* Media queries pour mobile */
@media (max-width: 768px) {
  .HeroSection {
    grid-template-columns: 1fr; /* Plus de containers vides */
  }

  .HeroContainer {
    grid-template-columns: 1fr; /* Empile le contenu */
    text-align: center;
    padding: 1rem 5vw; /* Remet un peu de padding pour éviter que le contenu touche les bords */
  }

  .HeroImage {
    position: static; /* Supprime l'effet de dépassement */
    transform: none; /* Supprime la translation */
    width: 100%;
    max-width: 400px;
  }

  .HeroSection button {
    margin: auto; /* Centre le bouton */
  }
}

/*Specials*/
.Specials {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 5rem 0;
}

.SpecialsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.SpecialsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.SpecialsCards {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
}

.SpecialsHeader h2 {
  font-weight: 500;
  font-size: 3rem;
  color: var(--highlight-color-2);
}

.SpecialCard {
  background-color: #f5f5f5;
  border-radius: 24px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  flex: 1;
  text-align: center;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  max-width: 400px;
}

.SpecialCard:hover {
  transform: translateY(-2.5px); /* Fait monter la carte légèrement */
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.25);
}

.SpecialImage {
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.SpecialInfo {
  padding: 1rem;
}

.SpecialTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.SpecialTitle h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--highlight-color-2);
  margin: 0;
}

.SpecialPrice {
  color: var(--secondary-color-1);
}

.SpecialDescription {
  font-size: 16px;
  color: var(--highlight-color-2);
  margin: 0.5rem 0;
  text-align: left;
}

.delivery-button {
  background: none;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.delivery-button:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .Specials {
    padding: 2.5rem 0;
    grid-template-columns: 10% 80% 10%;
  }
}

@media (max-width: 768px) {
  .Specials {
    grid-template-columns: 1fr;
  }

  .SpecialsCards {
    display: flex;
    flex-direction: column;
    margin: 1rem auto
  }

  .SpecialsHeader{
    flex-direction: column;
    justify-content: center;
  }

  .SpecialImage {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }

  .SpecialsHeader h2 {
    margin: 0.5rem;
    text-align: center;
  }
}

/*Reviews*/
.Reviews {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 5rem 0 10rem;
  background-color: var(--primary-color-1);
}

.ReviewsContainer {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.ReviewsHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ReviewsHeader h2 {
  color: var(--highlight-color-1);
  font-size: 3rem;
  font-weight: 400;
  margin: 0 auto 2rem;
}

.ReviewsCards {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
}

.ReviewCard {
  flex: 1;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.ReviewCard:hover {
  transform: translateY(-2.5px); /* Fait monter la carte légèrement */
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
  .Reviews {
    padding: 2.5rem 0;
    grid-template-columns: 10% 80% 10%;
  }
}

@media (max-width: 768px) {
  .Reviews {
    grid-template-columns: 1fr;
  }

  .ReviewsCards {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    justify-content: center;
  }

  .ReviewsHeader h2 {
    text-align: center;
  }
}

/*About*/
.About {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 9rem 0 12rem;
}

.AboutContainer {
  display: grid;
  grid-template-columns: 50% 50%; /* Description + Image */
  gap: 1rem;
}

.About h1 {
  color: var(--primary-color-1);
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.About h2 {
  color: var(--highlight-color-2);
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0;
}

.AboutImageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AboutImage {
  border-radius: 24px; /* Optionnel : pour un look plus arrondi */
  aspect-ratio: 1 / 1; /* Force un carré (hauteur = largeur) */
  object-fit: cover; /* Zoom et coupe pour remplir sans déformer */
  width: clamp(200px, 20vw, 350px); /* Min 150px, idéalement 20vw, max 350px */
  transform: translateY(+30%);
  position: absolute;
  z-index: 1000;
}

.AboutImage2 {
  border-radius: 24px; /* Optionnel : pour un look plus arrondi */
  aspect-ratio: 1 / 1; /* Force un carré (hauteur = largeur) */
  object-fit: cover; /* Zoom et coupe pour remplir sans déformer */
  width: clamp(200px, 20vw, 350px); /* Min 200px, idéalement 20vw, max 425px */
  transform: translateY(-10%) translateX(+50%);
  position: absolute;
}

@media (max-width: 1024px) {
  .About {
    padding: 5rem 0;
    grid-template-columns: 10% 80% 10%;
  }
}

@media (max-width: 768px) {
  .About {
    padding: 2.5rem 1rem 5rem;
    grid-template-columns: 1fr;
  }

  .AboutContainer {
    grid-template-columns: 1fr;
  }

  .AboutDescription h1, .AboutDescription h2, .AboutDescription p {
    text-align: center;
  }

  .AboutImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .AboutImage {
    position: relative;
    transform: translate(0);
    width: 100%;
    max-width: 400px;
  }

  .AboutImage2 {
    display: none;
  }
}

/*Footer*/
.Footer {
  background-color: var(--primary-color-1);
  color: var(--highlight-color-1);
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 4.5rem 0;
}

.FooterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.FooterLogo {
  height: 17.5rem;
}

.Footer ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Footer ul li a {
  color: var(--highlight-color-1);
  transition: color 0.3s ease-in-out;
}

.Footer ul li a:hover {
  color: #fff;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-decoration-color: #fff;
}

.Footer h1 {
  font-weight: 400;
  margin: 0;
}

/* Media queries pour tablette */
@media (max-width: 1024px) {
  .Footer {
    grid-template-columns: 10% 80% 10%;
  }
}

/* Media queries pour mobile */
@media (max-width: 768px) {
  .Footer {
    grid-template-columns: 1fr;
  }
  .FooterContainer {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }

  .FooterLogo {
    height: 10rem;
  }
}

/*Booking Form*/

.FormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Pleine hauteur de l'écran */
  background-color: #f4f4f4;
  padding: 1rem;;
}

form {
  display: grid;
  gap: 20px;
  max-width: 350px;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: bold;
}

input,
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="submit"] {
  background-color: var(--primary-color-1);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: var(--primary-color-2);
}